<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into MOVIE (title, studio, director, actors, duration, rating, genre, recommendAge, summary, photo)
        values
        (#{title} , #{studio} , #{director}, #{actors}, #{duration}, #{rating}, #{genre}, #{recommendAge}, #{summary}, #{photo})
    </insert>
    <update id="updateBoard">
        update MOVIE
        set title=#{title} , studio=#{studio} , director=#{director}, actors=#{actors}, duration=#{duration}, rating=#{rating}, genre=#{genre}, recommendAge=#{recommendAge}, summary=#{summary}, photo=#{photo}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from MOVIE where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from MOVIE where seq=#{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from MOVIE order by seq desc
    </select>
</mapper>
